@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-hp {
  width: 0;
  height: 100%;
  background-color: #1e293b;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}

.nav-hp.open {
  width: 75%;
}

@media (min-width: 640px) {
  .nav-hp.open {
    width: 50%;
  }
}
